/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 26, 2018, 2:27:55 PM
    Author     : E-TECH
*/
@page {
    margin: 3px;
}
.b_all {
    border: 1px solid black;
}
#seven {
    width: 7in;
    height: 0.5in;
}
#seven_5 {
    width: 7.5in;
    height: 0.5in;
}
#eight {
    width: 8in;
    height: 0.5in;
}
#one {
    width: 1in;
    height: 1in;
}
#w100 {
    width: 100px;
    height: 1in;
}
.compact .table_container table td {
    border: 1px solid black;
    padding: 0px 2px 0px 2px;
}
.compact #item_list td {
    height: 19px;
}
html {
    width: 8.5in;
    margin-left: 12px;
    margin-top: 0.25in;
}
* {
    font-family: sans-serif !important;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    line-height: 13px;
}
#page_container {
    width: 768px !important;
    height: 480px;
    margin: 0px !important;
    padding: 0px !important;

}
#page_container2 {
    width: 8in !important;
    height: 480px;
    padding: 0px !important;
}
.page_header {
    padding: 1px;
}
.company {
    width: 450px;
    margin: 0 auto;
    height: 20px;
    text-align: center;
    margin-top: -3px;
}
.company_logo,
.company_name {
    display: inline-block;
}
.company_name {
    font-size: 20px;
    line-height: 20px;
    margin-left: 10px;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}
.table_container table td {
    border: 1px solid black;
    padding: 1px 2px 1px 2px;
}
num, .float_right {
    float: right;
}
.thead td,
cns {
    font-weight: bold;
}
cns {
    display: block;
}
unit {
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.page_footer {
    margin-top: 3px;
    position: relative;
}
.page_footer i {
    text-decoration: underline;
    font-style: normal;
}
.footer_data {
    overflow: hidden;
    height: 14px;
}
#col_barcode {
    width: 8% !important;
}
#col_product_name {
    width: 33.5% !important;
}
#col_count {
    width: 14% !important;
}
#col_total_pieces {
    width: 7% !important;
}
#col_unit_price {
    width: 9% !important;
}
#col_amount {
    width:11% !important;
}
#col_memo {
    width: 8% !important;
}
#col_discount {
     width: 9% !important;
}
#col_unit {
    width: 4% !important;
}
td {
    overflow: hidden;
}
#item_list td {
    height: 20px;
}
#item_list {
    width: 768px;
}
small {
    font-size: 11px;
    font-style: italic;
}
.company2 {
    width: 100%;
}
.company_logo2 img {
    height: 40px;
    margin-top: 1px;
}
.company_logo2,
.company_name2 {
    float: left
}
.company_name2 {
    margin-left: 5px;
    font-size: 15px; 
    line-height: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2px;
}
.information2 {
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    margin-top: 3px;
    margin-left: 5px;
    position: relative;
}
.information2 table,
.company_name2 {
    width: 706px;
}
.pL_5 {
    padding-left: 5px;  
}
.page_header {
    margin-top: -4px;
}
.page_num {
    position: absolute;
    top: 0px;
    right: 0px;
    font-weight: bold;
    font-size: 10px;
}
.col_3 {
    width: 33%;
    display: inline-block;
}